---
import { getCollection, getEntry, render } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Button from '../../components/Button.astro';
import Navbar from '../../components/Navbar.astro';
import Footer from '../../components/Footer.astro';
import { fade } from 'astro:transitions';

const { name } = Astro.params;
const maybeEntry = await getEntry('features', name as string);
if (!maybeEntry) {
  throw new Error(`Feature "${name}" not found`);
}

const entry = maybeEntry as CollectionEntry<'features'>;
const { Content } = await render(entry);
const { title, description, icon } = entry.data;

export async function getStaticPaths() {
  const entries = await getCollection('features');
  return entries.map((entry) => ({
    params: { name: entry.id },

  }));
}
---
<Layout class="min-h-screen">
  <Navbar navLight={false} beforeNavbar={false}/>
  
  <div class="container py-12 mx-auto mt-24">
   
    <div class="mt-6">
      <h1 class="mb-2 text-3xl font-medium uppercase text-slate-700 dark:text-green-500">{title}</h1>
      <p class="mb-6 text-slate-500 dark:text-slate-200">{description}</p>
      <div
                class="flex items-center justify-center text-3xl text-green-600 align-middle shadow-sm size-20 bg-green-600/5 rounded-xl hover:shadow-lg"
                transition:name={`icon-${entry.id}`}
                >
        <i class={icon}></i>
      </div>
      
      
      <article class="prose dark:text-white max-w-none">
        <Content/>
      </article>
      <div class="mt-10">
        <Button label="← Zurück zur Startseite" href="/#features" rel="prefetch" width="fit" />
      </div>
    </div>
  </div>

  <Footer/>
  
</Layout>