---
import aboutImg from '../assets/images/about.jpg'
import { aboutUs } from "../data";
import { Image } from 'astro:assets';
---
<div class="container relative">
    <div class="grid grid-cols-1 lg:grid-cols-12 md:grid-cols-2 gap-10 items-center">
        <div class="lg:col-span-5">
            <div class="relative bg-black rounded-lg">
              <Image 
                src={aboutImg} 
                alt="Bild über uns" 
                class="rounded-lg shadow-lg w-full h-auto object-cover inset-0  opacity-80" 
                width={600} 
                height={400}
                format="webp"
                quality={85}
              />
              
            </div>
          </div>

        <div class="lg:col-span-7">
            <div class="lg:ms-7">
                <h6 class="text-blue-600 text-base font-medium uppercase mb-2">{aboutUs.title}</h6>
                <h3 class="mb-4 md:text-2xl text-xl font-medium dark:text-white">{aboutUs.subtitle}</h3>

                <p class="text-slate-400 max-w-2xl">{aboutUs.description}</p>
            
                <div class="relative mt-10">
                    <a href={aboutUs.buttonUrl}  class="inline-block bg-blue-700 hover:bg-blue-900 text-white font-semibold py-3 px-6 rounded-md shadow-lg transition duration-300 ease-in-out transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-blue-600"
                    >{aboutUs.buttonLabel}</a>
                </div>
            </div>
        </div>
    </div>
</div>

