---
import { clientData, sectionHeaders } from "../data";

interface ClientData{
    image: ImageMetadata;
    name: string;
    post: string;
    desc: string;
}
---

<div class="container">
    <div class="grid grid-cols-1 pb-8 text-center">
        <h6 class="mb-2 text-base font-medium text-green-600 uppercase">{sectionHeaders.client.title}</h6>
        <h3 class="mb-4 text-xl font-medium md:text-2xl dark:text-white">{sectionHeaders.client.subtitle}</h3>

        <p class="max-w-xl mx-auto text-slate-400">{sectionHeaders.client.text}</p>
    </div>
    
    <div class="relative grid grid-cols-1 mt-8">
        <div class="tiny-two-item">
            {clientData.map((item:ClientData)=>( 
                <div class="tiny-slide">
                    <div class="relative p-6 m-2 overflow-hidden bg-white rounded-md shadow-sm lg:flex lg:p-0 shadow-slate-200 dark:shadow-slate-700 dark:bg-slate-900">
                        <img class="mx-auto rounded-full size-24 lg:w-48 lg:h-auto lg:rounded-none" src={item.image.src} alt="" width="384" height="512"/>
                        <div class="pt-6 space-y-4 text-center lg:p-6 lg:text-left">
                            <p class="text-base text-slate-500 dark:text-slate-200">{item.desc}</p>
                            
                            <div>
                                <span class="block mb-1 text-green-600">{item.name}</span>
                                <span class="block text-sm text-slate-400 dark:text-white/60">{item.post}</span>
                            </div>
                        </div>
                    </div>
                </div>
            ))}
        </div>
    </div>
</div>

<script>
import { tns } from 'tiny-slider';

  if(document.getElementsByClassName('tiny-two-item').length > 0) {
    var slider = tns({
        container: '.tiny-two-item',
        controls: true,
        mouseDrag: true,
        loop: true,
        rewind: true,
        autoplay: true,
        autoplayButtonOutput: false,
        autoplayTimeout: 3000,
        navPosition: "bottom",
        controlsText: ['<i class="mdi mdi-chevron-left "></i>', '<i class="mdi mdi-chevron-right"></i>'],
        nav: false,
        speed: 400,
        gutter: 0,
        responsive: {
            768: {
                items: 2
            },
        },
    });
};

</script>