---
import { footerData } from "../data";
import logoDark from '../assets/images/logo-dark.png';
import logoLight from '../assets/images/logo-light.png';
import { Image } from 'astro:assets';
---

<footer class="py-6 bg-slate-800 dark:bg-gray-900">
    <div class="container">
        <div class="grid items-center md:grid-cols-12">
            <div class="mx-auto md:col-span-3">
                
            </span>
            <a class="relative inline-block text-center navbar-brand md:mr-0" href="/">
                <div class="relative flex items-center justify-center w-fit">
                  <!-- Modo claro -->
                  <span class="inline-block dark:hidden">
                    <Image 
                      src={logoDark} 
                      alt="KFZ-Service Memmo Logo Light" 
                      class="w-auto h-16 transition-transform duration-300 ease-in-out hover:scale-105" 
                      format="png"
                    />
                  </span>
                  <!-- Modo oscuro -->
                  <span class="hidden dark:inline-block">
                    <Image 
                      src={logoLight} 
                      alt="KFZ-Service Memmo Logo Dark" 
                      class="w-auto h-16 transition-transform duration-300 ease-in-out hover:scale-105" 
                      format="png"
                    />
                  </span>
                  <!-- Texto MEMMO dentro del logo -->
                  <span class="absolute bottom-4 right-4 text-[8px] font-normal uppercase tracking-widest text-white dark:text-yellow-400 pointer-events-none">
                    MEMMO
                  </span>
                </div>
              </a>
          </div>

            <div class="mt-8 md:col-span-5 md:mt-0">
                <div class="flex flex-col gap-4 text-center sm:flex-row sm:items-center sm:justify-center">
                    <p class="text-sm text-gray-400 sm:text-base">© {footerData.year}. {footerData.copyrightText} <i class="text-green-700 mdi mdi-heart"></i> by <a href={footerData.designerLink.url} target="_blank" class="text-reset">{footerData.designerLink.text}</a>.</p>
                    <ul class="flex items-center justify-center gap-2">
                        {footerData.socialLinks.map(social => (
                            <li><a href={social.url} target="_blank" class="text-gray-400 transition-colors duration-200 border rounded-md btn btn-icon btn-sm border-slate-700 dark:border-slate-800 hover:border-blue-600 bg-slate-800 dark:bg-gray-900 hover:bg-green-600 dark:hover:bg-green-600 hover:text-white"><i class={social.iconClass} title={social.title}></i></a></li>
                        ))}
                    </ul>
                </div>
            </div>

            <div class="mt-8 md:col-span-4 md:mt-0">
                <ul class="flex flex-col items-center justify-center text-center list-none foot-icon ltr:md:text-right md:flex-row ">
                    {footerData.links.map(link => (
                        <li class="inline"><a href={link.url} class="mx-2 text-gray-400 hover:text-white">{link.title}</a></li>
                    ))}
                    
                </ul>
            </div>
        </div>
    </div>
</footer>
