---
import logoDark from '../assets/images/logo-dark.png';
import logoLight from '../assets/images/logo-light.png';
import { navbarLinks, socialLinks } from "../data";
import BeforeNavbar from './BeforeNavbar.astro';
import { Image } from 'astro:assets';
interface Props {
 
  navLight?: boolean;
  beforeNavbar?: boolean;          
}

const {
 
  navLight = true,
  beforeNavbar = true             
} = Astro.props;
---

<nav class="transition-all duration-500 navbar" id="navbar">
    <!-- BEFORE NAVBAR: info stripe -->
    {beforeNavbar && <BeforeNavbar />}

    <!-- MAIN NAVBAR -->
    <div class="container flex flex-wrap items-center justify-between py-1">
        <!-- Logo a la izquierda -->
        <a class="relative inline-block text-center navbar-brand md:mr-0" href="/">
          <div class="relative flex items-center justify-center w-fit">
            <!-- Modo claro -->
            <span class="inline-block dark:hidden">
              <Image 
                src={logoDark} 
                alt="KFZ-Service Memmo Logo Light" 
                class="w-auto h-16 transition-transform duration-300 ease-in-out hover:scale-105" 
                format="png"
              />
            </span>
            <!-- Modo oscuro -->
            <span class="hidden dark:inline-block">
              <Image 
                src={logoLight} 
                alt="KFZ-Service Memmo Logo Dark" 
                class="w-auto h-16 transition-transform duration-300 ease-in-out hover:scale-105" 
                format="png"
              />
            </span>
            <!-- Texto MEMMO dentro del logo -->
            <span class="absolute bottom-4 right-4 text-[8px] font-normal uppercase tracking-widest text-white dark:text-yellow-400 pointer-events-none">
              MEMMO
            </span>
          </div>
        </a>
      
        <!-- Navigation links -->
        <div class="order-last hidden navigation lg_992:order-none lg_992:flex">
          <ul class={`flex flex-wrap navbar-nav ${navLight ? 'nav-light' : ''}`}>


            {navbarLinks.map((link) => (
              <li class="nav-item">
                <a class="nav-link" href={link.href}>{link.title}</a>
              </li>
            ))}
          </ul>
        </div>
      
        <!-- Social icons -->
        <div class="flex items-center nav-icons ms-auto">
          <ul class="flex mb-0 space-x-2 list-none menu-social">
            {socialLinks.map((social) => (
              <li>
                <a href={social.href} target="_blank" class="text-white transition bg-green-600 rounded-full btn btn-sm btn-icon hover:bg-green-700">
                  <i class={social.iconClass} title={social.title}></i>
                </a>
              </li>
            ))}
          </ul>
          <!-- Menu toggle -->
          <button data-collapse="menu-collapse" type="button" class="inline-flex items-center collapse-btn ms-3 text-dark dark:text-white lg_992:hidden" aria-controls="menu-collapse" aria-expanded="false">
            <span class="sr-only">Navigation Menu</span>
            <i class="mdi mdi-menu mdi-24px"></i>
          </button>
        </div>
        
        
      </div>
      
</nav>

<!-- Navbar End -->

<script>
    import Gumshoe from "gumshoejs";

    document.addEventListener("DOMContentLoaded", () => {
        new Gumshoe("#navbar-navlist a", {
            offset: 80, // Adjust according to your navbar height
            reflow: true,
            events: true,
        });
    });

</script>