---
import logoDark from '../assets/images/logo-dark.png' 
import logoLight from '../assets/images/logo-light.png'
import { navbarLinks, socialLinks } from "../data";
import { Image } from 'astro:assets';
---

<nav class="navbar" id="navbar">
    <div class="container flex flex-wrap items-center justify-end">
        <a class="navbar-brand" href="/">
            <Image src={logoDark} alt="DENIZ KFZ Logo" class="inline-block dark:hidden" width={150} height={50} />

                <Image src={logoLight} alt="DENIZ KFZ Logo Darkmode" class="hidden dark:inline-block" width={150} height={50} />
            
        </a>

        <div class="nav-icons flex items-center lg_992:order-2 ms-auto">
            <ul class="list-none menu-social mb-0">
                {socialLinks.map((social) => (
                    <li class="inline-block mx-1">
                        <a href={social.href} target="_blank" class="btn btn-sm btn-icon rounded-full bg-green-600 hover:bg-green-700 text-white transition">
                            <i class={social.iconClass} title={social.title}></i>
                        </a>
                    </li>
                ))}
            </ul>
            <button data-collapse="menu-collapse" type="button" class="collapse-btn inline-flex items-center ms-3 text-dark dark:text-white lg_992:hidden" aria-controls="menu-collapse" aria-expanded="false">
                <span class="sr-only">Navigation Menu</span>
                <i class="mdi mdi-menu mdi-24px"></i>
            </button>
        </div>

        <div class="navigation lg_992:order-1 lg_992:flex hidden" id="menu-collapse">
            <ul class="navbar-nav nav-light" id="navbar-navlist">
                {navbarLinks.map((link) => (
                    <li class="nav-item">
                        <a class="nav-link" href={link.href}>{link.title}</a>
                    </li>
                ))}
            </ul>
        </div>
    </div>
</nav>

<script>
    import Gumshoe from "gumshoejs";

    document.addEventListener("DOMContentLoaded", () => {
        new Gumshoe("#navbar-navlist a", {
            offset: 80, // Adjust according to your navbar height
            reflow: true,
            events: true,
        });
    });

</script>