---
import { Image } from 'astro:assets';
import { portfolioData, sectionHeaders } from "../data";
import { fade } from "astro:transitions";
interface portfolio {
  image: ImageMetadata;
  title: string;
  subTitle: string;
  slug: string;
}
---

<div class="container">
  <div class="grid grid-cols-1 pb-8 text-center">
    <h6 class="mb-2 text-base font-medium text-green-600 uppercase">{sectionHeaders.portfolio.title}</h6>
    <h3 class="mb-4 text-xl font-medium md:text-2xl dark:text-white">{sectionHeaders.portfolio.subtitle}</h3>
    <p class="max-w-xl mx-auto text-slate-400">{sectionHeaders.portfolio.text}</p>
  </div>

  <div class="grid grid-cols-1 gap-6 mt-8 lg:grid-cols-4 md:grid-cols-2">
    {portfolioData.map((item: portfolio) => (
      <div class="relative overflow-hidden rounded-md shadow-sm group">
        <div class="aspect-[4/3] w-full relative">
          
          <!-- Imagen principal -->
          <Image
            src={item.image}
            alt={item.title}
            class="absolute inset-0 object-cover w-full h-full transition duration-500 group-hover:scale-105 group-hover:rotate-1"
            width={600}
            height={400}
            format="webp"
            quality={85}
            transition:name={`${item.slug}-image`}
            transition:animate={fade({ duration: '300ms' })}
          />

          <!-- Overlay al hacer hover -->
          <div class="absolute inset-0 z-10 flex flex-col justify-end p-4 transition-all duration-500 opacity-0 bg-black/30 group-hover:opacity-100">
            <h4 class="text-lg font-semibold text-white">{item.title}</h4>
            <p class="text-sm text-gray-300">{item.subTitle}</p>
          </div>

        </div>
      </div>
    ))}
  </div>
</div>
