---
import { workData, sectionHeaders } from "../data";
import { Image } from 'astro:assets';
---

<div class="container mt-16 md:mt-24">
  <div class="grid grid-cols-1 pb-8 text-center">
    <h6 class="mb-2 text-base font-medium text-green-600 uppercase">{sectionHeaders.work.title}</h6>
    <h3 class="mb-4 text-xl font-medium md:text-2xl dark:text-white">{sectionHeaders.work.subtitle}</h3>
    <p class="max-w-xl mx-auto text-slate-400">{sectionHeaders.work.text}</p>
  </div>

  <div class="relative mt-8">
    <!-- Línea central -->
    <div class="h-full transform -translate-x-1/2 border-gray-200 timeline md:absolute left-1/2"></div>

    <div class="relative space-y-12">
      {workData.map((item, index) => (
        <div class="relative flex flex-col items-center w-full sm:flex-row">

          <!-- Imagen -->
          <div class={`w-full sm:w-1/2 px-6 flex ${index % 2 === 0 ? 'justify-end sm:order-1' : 'justify-start sm:order-2 sm:text-right'}`}>
            <Image
              src={item.image}
              alt={item.alt}
              class="rounded-lg shadow-lg object-cover max-w-[90%] sm:max-w-[320px]"
              width={400}
              height={300}
              format="webp"
              quality={85}
            />
          </div>

          <!-- Punto central -->
          <div class="absolute hidden transform -translate-x-1/2 left-1/2 md:block">
  <span class="block bg-green-600 rounded-full size-4 ring-4 ring-white dark:ring-slate-900"></span>
</div>

          <!-- Texto -->
          <div class={`w-full sm:w-1/2 px-6 mt-6 sm:mt-0 ${index % 2 === 0 ? 'sm:order-2 sm:text-left' : 'sm:order-1 sm:text-right'}`}>
            <h5 class="text-lg font-medium transition-all duration-500 ease-in-out dark:text-white hover:text-green-500 dark:hover:text-green-500">{item.title}</h5>
            <p class="mt-2 text-slate-500 dark:text-slate-400">{item.description}</p>
          </div>

        </div>
      ))}
    </div>
  </div>
</div>
